code {
    background: #eee;
    font-size: 1rem;
    padding: .2rem .4rem;
}

.highlight {
    border: 1px solid #999;
    padding: 10px;
    background: #fff;
    display: block;
    overflow-x: auto;
}

.site-wrap {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.site-content {
    flex: 1;
    margin-top: 15px;
    margin-bottom: 30px;
}

.index-content {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.post-tag-list ul {
    margin: 0;
}

.post-tag-list ul li {
    list-style: none;
    display: inline;
}

.post-tag-list ul li:not(:last-child):after {
    content: " \00b7  ";
}

.markdown-post-content .post-meta {
    margin-bottom: 30px;
}

blockquote {
    margin: 0;
    background: #eee;
    padding: 15px;
}

blockquote footer {
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}

blockquote footer::before {
    content: '~ ';
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #aaa;
    }
    .ui .header {
        color: #aaa;
    }
    .ui.header .sub.header {
        color: #aaa;
    }
    .ui.tertiary.black.button {
        color: #aaa;
    }
    .ui.list .list > .item 
    .description, .ui.list > .item 
    .description {
        color: #aaa;
    }
    .ui.divided.list > .item {
        border-top: 1px solid #aaa;
    }
    code {
        background: #222;
    }
    .highlight {
        background: #222;
    }
}
